<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css " %}">
  </head>
<body>

  <div class="container mt-5">
      <h2 class="text-center alert alert-danger">Courses Display Application</h2>
      {% block content %}
      {% endblock content %}
  </div>



  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
